@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  transition: all 0.3s;
}
* a {
  text-decoration: none;
  color: #333;
}

svg {
  position: absolute;
  z-index: 9;
}
svg__top {
  top: 0px;
  left: 0px;
}
svg__bottom {
  bottom: 0px;
  right: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 172px auto;
  justify-content: center;
  align-items: center;
  grid-template-areas: "header" "content";
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
}
.container > div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.container .header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "block logo inner inner";
  grid-gap: 20px;
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
}
.container .header .logo {
  grid-area: logo;
  height: 140px;
  width: 140px;
  position: relative;
  justify-self: end;
}
.container .header__inner {
  grid-area: inner;
  display: grid;
  grid-row-gap: 14px;
}
.container .header__inner .title {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.container .header__inner .title h1 {
  font-size: 3vw;
}
.container .header__inner .title .btn {
  border: 1px solid;
  padding: 1vw;
  display: block;
  text-align: center;
  width: 100%;
}
.container .header__inner .statistic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  font-size: 1.2vw;
}
.container .header__inner .statistic span {
  font-weight: bold;
}
.container .header__inner .datepicker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.container .header__inner .datepicker .input-block {
  display: grid;
  position: relative;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dedede;
}
.container .header__inner .datepicker .input-block input {
  height: 100%;
  border: none;
  padding: 10px;
  outline: none;
}
.container .header__inner .datepicker .input-block .input__btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  position: relative;
  align-items: center;
  position: absolute;
  right: 0px;
  height: 100%;
  background: #dedede;
  padding: 0 10px;
  color: #5f5f5f;
}
.container .content {
  width: 56vw;
  grid-template-rows: 49px auto 50px;
  grid-gap: 16px;
  position: relative;
  z-index: 10;
  justify-self: center;
  overflow: hidden;
}
.container .content .filter {
  justify-content: flex-end;
  grid-template-columns: 30px 30px;
  display: grid;
}
.container .content .filter .btn {
  justify-self: center;
  font-size: 20px;
}
.container .content .filter .btn.active {
  color: #c8c7c7;
}
.container .content .filter .btn:hover {
  font-size: 22px;
}
.container .content__inner {
  display: grid;
  overflow-y: auto;
  height: 100%;
}
.container .content__inner .item {
  display: grid;
  background: #ffffff;
}
.container .content__inner[data-view=rows] {
  grid-template-columns: 1fr;
  grid-gap: 8px;
}
.container .content__inner[data-view=rows] .item {
  grid-template-columns: 86px auto;
  height: 86px;
}
.container .content__inner[data-view=rows] .item .img {
  width: 86px;
  height: 86px;
}
.container .content__inner[data-view=rows] .item .img img {
  width: 100%;
  height: 100%;
}
.container .content__inner[data-view=rows] .item .data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.container .content__inner[data-view=rows] .item .data .today,
.container .content__inner[data-view=rows] .item .data .last,
.container .content__inner[data-view=rows] .item .data .info {
  display: grid;
  grid-template-areas: "title title" "likes comments";
  grid-gap: 5px;
  font-size: 14px;
}
.container .content__inner[data-view=rows] .item .data .today span.title,
.container .content__inner[data-view=rows] .item .data .last span.title,
.container .content__inner[data-view=rows] .item .data .info span.title {
  grid-area: title;
}
.container .content__inner[data-view=rows] .item .data .today .icons,
.container .content__inner[data-view=rows] .item .data .last .icons,
.container .content__inner[data-view=rows] .item .data .info .icons {
  display: flex;
  grid-gap: 10px;
}
.container .content__inner[data-view=tiles] {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
}
.container .content__inner[data-view=tiles] .item {
  grid-template-rows: 200px 140px;
}
.container .content__inner[data-view=tiles] .item .img {
  width: 100%;
  height: auto;
}
.container .content__inner[data-view=tiles] .item .img img {
  width: 100%;
  height: 100%;
}
.container .content__inner[data-view=tiles] .item .data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80% 20%;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  grid-template-areas: "today last" "info info";
}
.container .content__inner[data-view=tiles] .item .data .today,
.container .content__inner[data-view=tiles] .item .data .last {
  display: grid;
  grid-gap: 10px;
  font-size: 14px;
}
.container .content__inner[data-view=tiles] .item .data .today .icons,
.container .content__inner[data-view=tiles] .item .data .last .icons {
  display: grid;
  grid-gap: 5px;
}
.container .content__inner[data-view=tiles] .item .data .today {
  grid-area: today;
}
.container .content__inner[data-view=tiles] .item .data .last {
  grid-area: last;
}
.container .content__inner[data-view=tiles] .item .data .info {
  grid-area: info;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.container .content .load-more {
  border: 1px solid #929292;
  border-radius: 14px;
  text-transform: uppercase;
  padding: 10px;
  justify-self: center;
}
.container .content .load-more:hover {
  background: #333;
  color: #fff;
}

@media (prefers-color-scheme: light) {
  .rd-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-back:hover,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-next:hover {
    background: transparent;
    color: #141414;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-back[disabled],
.rd-container.rd-container-attachment .rd-date .rd-month .rd-next[disabled] {
    color: transparent;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body:not(.rd-day-selected):hover:before {
    border: 2px solid #fff;
    background: #c8c8c8;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-selected {
    border: 2px solid green;
    background: none;
    color: #141414;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-prev-month,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-next-month {
    color: #444;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled {
    color: darkred;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled:hover {
    background: none;
    color: darkred;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled:hover::before {
    background: none;
  }
}
@media (prefers-color-scheme: dark) {
  .rd-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .rd-container.rd-container-attachment {
    background: #000;
    color: #fff;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-back,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-next,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-month-label {
    color: #fff;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-back:hover,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-next:hover {
    background: transparent;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-back[disabled],
.rd-container.rd-container-attachment .rd-date .rd-month .rd-next[disabled] {
    color: transparent;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row {
    color: #fff;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body:not(.rd-day-selected):hover {
    color: #fff;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body:not(.rd-day-selected):hover:before {
    border: 2px solid #fff;
    background: #c8c8c8;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-selected {
    border: 2px solid green;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-prev-month,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-next-month {
    color: #444;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled {
    color: darkred;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled:hover {
    background: none;
    color: darkred;
  }

  .rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled:hover::before {
    background: none;
  }

  .rd-container.rd-container-attachment .rd-time .rd-time-selected {
    color: #fff;
  }
}
.rd-container {
  position: absolute;
  z-index: 99;
}

.rd-container.rd-container-attachment {
  display: grid;
  grid-gap: 10px;
  border-radius: 20px;
}

.rd-container.rd-container-attachment .rd-date {
  padding: 10px;
}

.rd-container.rd-container-attachment .rd-date .rd-month {
  display: grid;
  grid-template-areas: "prev month next" "days days days";
  grid-row-gap: 10px;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-back,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-next,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-month-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  transition: all 0.1s;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-back:hover,
.rd-container.rd-container-attachment .rd-date .rd-month .rd-next:hover {
  font-size: 24px;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-month-label {
  grid-area: month;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-back {
  grid-area: prev;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-next {
  grid-area: next;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-days {
  grid-area: days;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body {
  width: 30px;
  height: 30px;
  font-size: 14px;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body:not(.rd-day-selected):hover:before {
  box-sizing: border-box;
  padding: 10px;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled {
  border: none;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled:hover {
  border: none;
}

.rd-container.rd-container-attachment .rd-date .rd-month .rd-days .rd-days-row .rd-day-body.rd-day-disabled:hover::before {
  border: none;
}

.rd-container.rd-container-attachment .rd-time .rd-time-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 30px;
}
