@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

svg.background__svg {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 172px auto;
  justify-content: center;
  align-items: center;
  grid-template-areas: "header" "content";
  width: 100vw;
  height: 100vh;
}

.container > div {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.container .header {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
}
.container .header .logo {
  height: 140px;
  width: 140px;
  position: relative;
  justify-self: end;
}
.container .header__inner {
  display: grid;
  grid-row-gap: 14px;
}
.container .header__inner .title {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.container .header__inner .title .btn {
  border: 1px solid;
  padding: 10px;
  display: block;
  text-align: center;
  width: 100%;
}
.container .header__inner .statistic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container .header__inner .statistic span {
  font-weight: bold;
}
.container .header__inner .datepicker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.container .header__inner .datepicker .input-block {
  display: grid;
  position: relative;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dedede;
}
.container .header__inner .datepicker .input-block input {
  height: 100%;
  border: none;
  padding: 10px;
  outline: none;
}
.container .header__inner .datepicker .input-block .input__btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  position: relative;
  align-items: center;
  position: absolute;
  right: 0px;
  height: 100%;
  background: #dedede;
  padding: 0 10px;
  color: #5f5f5f;
}
