@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  transition: all 0.3s;
}

svg.background__svg {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 172px auto;
  justify-content: center;
  align-items: center;
  grid-template-areas: "header" "content";
  width: 100vw;
  height: 100vh;
  background: #e5e5e5;
}
.container > div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.container .header {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 100px;
  position: relative;
  z-index: 10;
  background: rgba(255, 255, 255, 0.67);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12), inset 0px 12px 24px rgba(0, 0, 0, 0.12);
}
.container .header .logo {
  height: 140px;
  width: 140px;
  position: relative;
  justify-self: end;
}
.container .header__inner {
  display: grid;
  grid-row-gap: 14px;
}
.container .header__inner .title {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.container .header__inner .title .btn {
  border: 1px solid;
  padding: 10px;
  display: block;
  text-align: center;
  width: 100%;
}
.container .header__inner .statistic {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.container .header__inner .statistic span {
  font-weight: bold;
}
.container .header__inner .datepicker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.container .header__inner .datepicker .input-block {
  display: grid;
  position: relative;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dedede;
}
.container .header__inner .datepicker .input-block input {
  height: 100%;
  border: none;
  padding: 10px;
  outline: none;
}
.container .header__inner .datepicker .input-block .input__btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  position: relative;
  align-items: center;
  position: absolute;
  right: 0px;
  height: 100%;
  background: #dedede;
  padding: 0 10px;
  color: #5f5f5f;
}
.container .content {
  width: 56vw;
  grid-template-rows: 49px auto 50px;
  position: relative;
  z-index: 10;
  justify-self: center;
  overflow: hidden;
}
.container .content .filter {
  justify-content: flex-end;
  grid-template-columns: 30px 30px;
  display: grid;
}
.container .content .filter .btn {
  justify-self: center;
  font-size: 20px;
}
.container .content .filter .btn.active {
  color: #c8c7c7;
}
.container .content__inner {
  display: grid;
  overflow-y: auto;
  height: 100%;
}
.container .content__inner .item {
  display: grid;
  background: #ffffff;
}
.container .content__inner[data-view=rows] {
  grid-template-columns: 1fr;
}
.container .content__inner[data-view=rows] .item {
  grid-template-columns: 86px auto;
  height: 86px;
}
.container .content__inner[data-view=rows] .item .img {
  width: 86px;
  height: 86px;
}
.container .content__inner[data-view=rows] .item .img img {
  width: 100%;
  height: 100%;
}
.container .content__inner[data-view=rows] .item .data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.container .content__inner[data-view=rows] .item .data .today,
.container .content__inner[data-view=rows] .item .data .last,
.container .content__inner[data-view=rows] .item .data .info {
  display: grid;
  grid-template-areas: "title title" "likes comments";
  grid-gap: 5px;
}
.container .content__inner[data-view=rows] .item .data .today span.title,
.container .content__inner[data-view=rows] .item .data .last span.title,
.container .content__inner[data-view=rows] .item .data .info span.title {
  grid-area: title;
}
.container .content__inner[data-view=rows] .item .data .today .icons,
.container .content__inner[data-view=rows] .item .data .last .icons,
.container .content__inner[data-view=rows] .item .data .info .icons {
  display: flex;
  grid-gap: 10px;
}
.container .content__inner[data-view=tiles] {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
.container .content__inner[data-view=tiles] .item {
  grid-template-rows: 200px 140px;
}
.container .content__inner[data-view=tiles] .item .img {
  width: 100%;
  height: auto;
}
.container .content__inner[data-view=tiles] .item .img img {
  width: 100%;
  height: 100%;
}
.container .content__inner[data-view=tiles] .item .data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80% 20%;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  grid-template-areas: "today last" "info info";
}
.container .content__inner[data-view=tiles] .item .data .today,
.container .content__inner[data-view=tiles] .item .data .last {
  display: grid;
  grid-gap: 10px;
}
.container .content__inner[data-view=tiles] .item .data .today .icons,
.container .content__inner[data-view=tiles] .item .data .last .icons {
  display: grid;
  grid-gap: 5px;
}
.container .content__inner[data-view=tiles] .item .data .today {
  grid-area: today;
}
.container .content__inner[data-view=tiles] .item .data .last {
  grid-area: last;
}
.container .content__inner[data-view=tiles] .item .data .info {
  grid-area: info;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.container .content .load-more {
  border: 1px solid #929292;
  border-radius: 14px;
  width: 110px;
  text-transform: uppercase;
  padding: 10px;
}
